.board {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    background-color: var(--background); 
}

.board-form {
    background: var(--background);
    padding: 20px;
    width: 400px;
    max-width: 100%;
    color: white;
    font-family: inherit;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.board-form h2 {
    margin-top: 0;
    text-align: center; 
}

.board-form label {
    display: block;
    margin-bottom: 10px;
    text-align: center; 
}

.board-form input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    font-family: inherit;
    background-color: transparent;
    color: white;
    outline: none;
    border: none; 
}

.board-form input:focus {
    background-color: transparent; 
}

.board-form .button-group {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px; 
}

.board-form button {
    flex: 1; 
    background-color: var(--button);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px; 
}

.board-form button:hover {
    background-color: var(--button-hover); 
}

.board-form button:active {
    background-color: var(--button-click); 
}