
=======
.card {
    position: relative;
    background-color: darkslategrey;
    margin: 5px 10px;
    color: white;
    border-radius: 5px;
    white-space: normal;
    padding: 8px;
    /* Adjust as needed */
    cursor: pointer;
    max-height: 150px;
    /* Adjust as needed */
    overflow: hidden;
    /* Hide overflow if necessary */
}

.card.dragging {
    opacity: 0.5;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Ensure it's above other cards */
}

.card h3 {
    font: inherit;
    margin: 0 0 5px 5px;
    color: white;
}

.card p {
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-container {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.card:hover .icon-container {
    display: flex;
    gap: 5px;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}

.delete-button {
    position: absolute;
    top: 5px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-1);
    border-radius: 20px;
}

.delete-button:hover {
    color: darkred;
}

.card-priority {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.urgent-priority {
    color: red;
}

.high-priority {
    color: orange;
}

.normal-priority {
    color: lightgreen;
}




/* CARD-FORM */
.card-form {
    background: var(--background-1);
    padding: 20px;
    width: 400px;
    max-width: 100%;
    color: white;
    font-family: inherit;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card-form h2 {
    margin-top: 0;
    text-align: center;
}

.card-form label {
    display: block;
    margin-bottom: 10px;
}

.card-form-input {
    width: calc(100% - 16px);
    height: fit-content;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    font-family: inherit;
}

.card-form-textarea {
    width: calc(100% - 16px);
    height: 200px;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    font-family: inherit;
}


.card-form .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-form button {
    flex: 1;
    background-color: var(--primary-button);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.card-form button:hover {
    background-color: var(--primary-button-hover);
}

.card-form button:active {
    background-color: var(--primary-button-click);
}

.card-form select {
    margin-left: 8px;
}