.card {
    position: relative;
    background-color: var(--button);
    margin: 5px;
    color: white;
    border-radius: 5px;
    white-space: normal;
    padding: 8px;
    max-height: 150px;
    overflow: hidden;
}

.card.dragging {
    opacity: 0.5;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.card h3 {
    font: inherit;
    margin: 0 0 5px 5px;
    color: white;
    overflow-wrap: break-word;  
    white-space: normal;  
    width: 60%;  
}

.card p {
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-container {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px; 
}
 

.card:hover .icon-container {
    display: flex;
    gap: 5px;
}

.icon {

    background: none;
    border: none;
    cursor: pointer;
    color:var(--background-body);
    font-size: 1.2em; 
    border-radius: 4px; 
    transition: background-color 0.2s ease; 
}

.icon:focus {
    outline: none;
    
}

.icon-del {
    background: none;
    border: none;
    cursor: pointer;
    color:var(--background-1);

    font-size: 1.2em; 
    border-radius: 4px; 
    transition: background-color 0.2s ease; 
}

.icon-del:focus {
    outline: none;
}
.icon:hover {
    background-color: var(--button-hover);
    color: white;
}

.icon-del:hover {
    background-color: #E03C31;
    color: white;
}


.drag-icon {
    background: none;
    border: none;
    cursor: pointer;
    color:white;
    font-size: 1.2em; 
    border-radius: 4px; 
    transition: background-color 0.2s ease; 
}

.drag-icon:hover {
    color: white;  
    cursor: grab;

}

.delete-button {
    position: absolute;
    top: 5px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer; 
    border-radius: 20px;
}

.delete-button:hover {
    color: darkred;
}

.card-priority {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

/* .urgent-priority {
    color: red;
}

.high-priority {
    color: orange;
}

.normal-priority {
    color: lightgreen;
} */


/* CARD-FORM */
.card-form {
    background: var(--background);
    padding: 20px;
    width: 400px;
    max-width: 100%;
    color: white;
    font-family: inherit;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card-form h2 {
    margin-top: 0;
    text-align: center;
}

.card-form label {
    display: block;
    margin-bottom: 10px;
}

.card-form-input {
    width: calc(100% - 16px);
    height: fit-content;
    padding: 8px;
    margin-top: 4px; 
    font-family: inherit;
    color:white;
    background-color: var(--background-accent);
    border: none;
}

.card-form-textarea {
    border: none;
    background-color: var(--background-accent);
    color: white;
    width: calc(100% - 16px);
    height: 200px;
    padding: 8px;
    margin-top: 4px; 
    font-family: inherit;
    resize: none;
}


.card-form .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-form button {
    flex: 1;
    background-color: var(--button);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.card-form button:hover {
    background-color: var(--button-hover);
}

.card-form button:active {
    background-color: var(--button-click);
}

.card-form select {
    margin-left: 8px;
}