.columns_container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--background-accent);
}

.column {
    flex: 0 0 200px; 
    height: 400px; 
    background-color: var(--column-body);
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    margin: 10px;
     overflow: hidden;  
    border-radius:6px;
    border: 2px solid rgba(3, 3, 3, .5);
}

.column:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.column-overlay {
    flex: 0 0 200px; 
    height: 100%; 
    background-color: var(--column-body);  
    flex-direction: column; 
    margin: 10px;
    overflow: hidden; 
    border-radius:6px; 
}

.column_content {
    flex-grow: 1;
    overflow-y: scroll;
    height: 400px;
    padding-top: 5px;
    padding-bottom: 50px;
    scrollbar-width: none; 
}

.drag-handle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15%;
    cursor: grab;
    background-color: var(--background-1);
    padding: 5px;
}

.dcolumn.dragging {
    opacity: 0.5;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: var(--z-overlay);
}

.drag-handle:active {
    cursor: grabbing;
}

.column_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--background);
    height: 40px; 
    top: 0;
    z-index: var(--z-modal);
    overflow: hidden;  
}

.column_header h1 {
    flex: 1;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: left;
    font-family: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: medium;
}

.column_header input {
    background-color: var(--background);
    color: white;
    font-size: 20px;
    font-family: inherit;
    border: none;
    border-bottom: 1.5px solid lightgrey; 
    outline: none;
    transition: border-bottom-color 0.3s ease; 
    width: 60%;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: text;
    font-size: medium;

} 

.column_header .header-buttons {
    display: flex;
    gap: 2px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.column_header:hover .header-buttons {
    opacity: 1;
}

.column_header_button {
    background-color: var(--background);
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}
.column_header_delbutton {
    background-color: var(--background);
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.column_header_button_drag {
    background-color: var(--background);
    color: white;
    border: none;
    padding: 6px;
    cursor: grab;
    border-radius: 3px;
    font-size: 14px;
}

.column_header_button:hover {
    background-color: var(--button-hover);
}
.column_header_delbutton:hover {
    background-color:#E03C31;
}

.drag-handle:hover {
    cursor: grab;
    background-color: var(--background);
    padding: 6px;
    font-size: 14px;
}

.drag_handle:active {
    cursor: grabbing;
}

.column_title_form_input {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
    color: white;
    background-color: var(--background);
    border: none;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    
}
 
.column-form {
    background: var(--background);
    padding: 20px;
    width: 400px;
    max-width: 100%;
    color: white;
    font-family: inherit;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.column-form h2 {
    margin-top: 0;
    text-align: center;
}

.column-form label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.column-form input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    font-family: inherit;
    background-color: transparent;
    color: white;
    outline: none;
    
}

.column-form input:focus {
    background-color: transparent;
}

.column-form .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.column-form button {
    flex: 1;
    background-color: var(--button);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.column-form button:hover {
    background-color: var(--button-hover);
}

.column-form button:active {
    background-color: var(--button-click);
}