

.columns_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    height: calc(100% - 40px); /* Adjust height to fill remaining space */
    box-sizing: border-box;
}

.column {
    width: 300px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-y: auto; /* Allow vertical scrolling in each column */
    margin: 0 10px;
    border: 1px solid #ddd;
    color: black;
    flex-shrink: 0; /* Prevent columns from shrinking */
}
.column_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--background-1);
    height: 40px;
}

.column_header h1 {
    flex: 1;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    font-family: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column_header_button {
    margin: 0 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.column button:hover {
    background-color: var(--primary-button-hover);
}

.column button:active {
    background-color: var(--primary-button-click);
}

.column_form {
    flex: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.column_title_form_input {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
    color: white;
    background-color: var(--background-1);
    border: none;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
}