.control-bar {
    display: flex;
    padding-top: 20px;
    background-color: var(--background-2);
    width: 100%;
    left: 0;
    max-height: 150px;
}

.control-bar .title-description {
    margin: 10px;
    flex: 3;
}

.control-bar .description {
    padding: 5px;
    overflow-y: scroll;
    max-height: 50px;
    border: var(--border);
    scrollbar-color: var(--scrollbar-color);
}


.control-bar .controls {
    flex: 1;
}

.control-bar h1 {
    color: black;
}

.control-bar p {
    color: black
}

.control-bar button {
    margin-right: 10px;
    padding: 10px 10px;
    border: none;
    background-color: var(--primary-button);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.control-bar button:hover {
    background-color: var(--primary-button-hover);
}

.control-bar button:active {
    background-color: var(--primary-button-hover);
}