.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--navbar-background);
    color: white;
    height: 40px; /* Keeping this consistent */
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    padding: 10px; 
    z-index: var(--z-modal);
}

.navbar-logo {
    margin: 10px;
    width: 30px;
    height: auto; 
    object-fit: contain; 
    border-radius: 50px;  
    display: block;  
}

.navbar-title {
    flex-grow: 1;  
}

.navbar-button { 
    background-color: var(--button);
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-button:hover {
    background-color: var(--button-hover);
}

.navbar-button:active {
    background-color: var(--button-click);
}
