/* NavBar.css */
.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--background-1);
    color: white;
    height: 30px;
    top:0;
    left:0;
    justify-content: space-between;
    z-index: var(--z-modal);
    height:40px;
    align-items: center;
    padding:10px; 
}

.navbar-button { 
    background-color: var(--primary-button);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-button:hover {
    background-color: var(--primary-button-hover);
}

.navbar-button:active {
    background-color: var(--primary-button-click);
}