:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;

  /* Reused colors for consistent theming */
  
  --background-1: #333;
  --primary-button: #008CBA;
  --primary-button-hover: #00aaff;
  --primary-button-click: #006f8c;


}

.app {
  width: 100%;
  height: 100vh; /* If you want the app to take full viewport height */
  box-sizing: border-box;
}


/* NavBar.css */
.navbar {
  background-color: var(--background-1);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-button {
  background-color: var(--primary-button);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Reactive Buttons */
.navbar-button:hover {
  background-color: var(--primary-button-hover);
}

.navbar-button:active {
  background-color: var(--primary-button-click);
}


.board {
  display: flex;
  flex-direction: column;
  padding: 60px 10px 10px;
  height: calc(100vh - 60px);
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}

.control-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.control-bar button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-button);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.control-bar button:hover {
  background-color: var(--primary-button-hover);
}

.control-bar button:active{
  background-color: var(--primary-button-hover);
}

.columns-container {
  flex:1;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  overflow-x: auto; 
  overflow-y: hidden;
  padding: 10px;
  border: 1px solid #ddd; 
  width: 100%; 
  box-sizing: border-box;
}

.column {
  width: 300px; 
  background-color: #f4f4f4;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0 10px; 
  border: 1px solid #ddd;
  color: black;
}

.column_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: var(--background-1);
}

.column_header h1 {
  flex: 1;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
}

.column_header button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
}

/* Reactive buttons */
.column button:hover {
  background-color: var(--primary-button-hover);
}

.column button:active {
  background-color: var(--primary-button-click);
}

.cardform {
  background: var(--background-1);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  color: white;
  font-family: inherit;
}

/* Card Form input */
.cardform-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cardform h2 {
  margin-top: 0;
  text-align: center;
}

.cardform label {
  display: block;
  margin-bottom: 10px;
}

.cardform input,
.cardform textarea {
  width: calc(100%);
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  font-family: inherit;
}

.cardform .button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardform button {
  flex: 1;
  background-color: var(--primary-button);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

/* Makes Form Buttons reactive. */
.cardform button:hover {
  background-color: var(--primary-button-hover);
}

.cardform button:active {
  background-color: var(--primary-button-click);
}

.cardform select {
  margin-left: 8px;
}

.card {
  position: relative;
  background-color: darkslategrey;
  margin: 15px 20px;
  color: white;
  border-radius: 5px;
  white-space: normal;


  padding: 2em;
}

.card h3 {
  margin: 0 0 10px 0;
  color: white;
}

.card p {
  color: white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .delete-button {
  position: absolute;
  top: 5px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--background-1);
  border-radius: 20px;
}

.card .edit-button {
  position: absolute;
  top: 5px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: none;
}


.card .delete-button:hover {
  color: darkred;
}

.card .edit-button:hover {
  background: none;
}