:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;

  /* Reused colors for consistent theming */

  --background-1: #333;
  --primary-button: #008CBA;
  --primary-button-hover: #00aaff;
  --primary-button-click: #006f8c;

  /* Used for consistent layering */
  --z-modal: 1000;
  --z-form: 2000;
  --z-overlay: 3000;

}

.app {
  width: 100%;
  height: 100vh;
  /* If you want the app to take full viewport height */
  box-sizing: border-box;
}


/* NavBar.css */
.navbar {
  background-color: var(--background-1);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
}

.navbar-button {
  background-color: var(--primary-button);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-button:hover {
  background-color: var(--primary-button-hover);
}

.navbar-button:active {
  background-color: var(--primary-button-click);
}


.board {
  display: flex;
  flex-direction: column;
  padding: 60px 10px 10px;
  height: calc(100vh - 60px);
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}

.control-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.control-bar button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-button);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.control-bar button:hover {
  background-color: var(--primary-button-hover);
}

.control-bar button:active {
  background-color: var(--primary-button-hover);
}

.columns-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.column {
  width: 300px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0 10px;
  border: 1px solid #ddd;
  color: black;
  flex-shrink: 0;
}

.column_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: var(--background-1);
}

.column_header h1 {
  flex: 1;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
}

.column_header button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
}

.column button:hover {
  background-color: var(--primary-button-hover);
}

.column button:active {
  background-color: var(--primary-button-click);
}

.column form {
  flex: 1;
  /* Allow the form to take up available space */
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center input horizontally */
}


.column form input {
  width: 100%;

  max-width: 400px;
  box-sizing: border-box;
}



.card {
  position: relative;
  background-color: darkslategrey;
  margin: 15px 20px;
  color: white;
  border-radius: 5px;
  white-space: normal;
  padding: 2em;
  cursor: pointer;
}

.card h3 {
  margin: 0 0 10px 0;
  color: white;
}

.card p {
  color: white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-priority {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.urgent-priority {
  color: red;
}

.high-priority {
  color: orange;
}

.normal-priority {
  color: lightgreen;
}

.card .delete-button {
  position: absolute;
  top: 5px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--background-1);
  border-radius: 20px;

}

.card .delete-button:hover {
  color: darkred;
}

.card-form {
  background: var(--background-1);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  color: white;
  font-family: inherit;
}

.card-form h2 {
  margin-top: 0;
  text-align: center;
}

.card-form label {
  display: block;
  margin-bottom: 10px;
}

.card-form input,
.card-form textarea {
  width: calc(100%);
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  font-family: inherit;
}

.card-form .button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-form button {
  flex: 1;
  background-color: var(--primary-button);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.card-form button:hover {
  background-color: var(--primary-button-hover);
}

.card-form button:active {
  background-color: var(--primary-button-click);
}

.card-form select {
  margin-left: 8px;
}


/* Used to blur background and focus a component */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  /* These block the background */
  z-index: var(--z-overlay);
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

/* Leading UI */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Popup Styles */
.popup {
  background: var(--background-1);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  max-height: 300px;
  z-index: var(--z-overlay);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.popup .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

/* Popup message container */
.popup .message-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 50px;
  max-height: calc(100% - 60px);
}

/* Popup button */
.popup button {
  color: white;
  background-color: var(--primary-button);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-self: center;
}